<mat-nav-list>
    <div class="logo py-4">
        <img src="assets/AM2.jpg" alt="logo" />
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">Applications</h2>
    <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon> Home
    </a>
    <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
        <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    <a mat-list-item>
        <mat-icon>edit</mat-icon> Item-Link-1
    </a>
    <a mat-list-item>
        <mat-icon>edit</mat-icon> Item-Link-2
    </a>
    <a mat-list-item>
        <mat-icon>edit</mat-icon> Item-Link-3
    </a>
    <a mat-list-item>
        <mat-icon>edit</mat-icon> Item-Link-4
    </a>
    <a mat-list-item>
        <mat-icon>edit</mat-icon> Item-Link-5
    </a>
</mat-nav-list>